@media (min-width: 992px) {
    .container.py-lg-5 {
        max-width: 70%;
    }
}

/*@media (max-width: 767px) {*/
/*    .container.py-lg-5 {*/
/*        padding-top: 1rem;*/
/*        padding-bottom: 1.3rem;*/
/*    }*/
/*}*/


.container.py-lg-5 {
    padding-top: 1rem;
    padding-bottom: 1.3rem;
}